.boxpagename {
    text-align: center;
    color:white;
    background-color: black; 
    padding: 1px; 
    font-size: 1.2rem;
    top: 0;
    
}
#logo{
    width: 100px;
    height: 100px;
}




/*.nombre {
    font-size: 250%;
    margin-left: 100px;
    width: auto;
    height: 200px;
}
.nombre > img {
    position: relative;
    float: under;
    margin-top: -50px;
    margin-bottom: 50px;
    width: 93%;
    height: 75%;
    z-index: -1;
  }
ul {
    display: inline-block;
    list-style-type: none;
    padding-right: 0px;
 
}
li {    
    float: left;
    position: relative;
    top: -140px; 
    left: 1000px;
}

button {
    background-color:blue;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

}
li a:active {
    background-color: green;
    color: white;
  }
li a:hover {
    background-color: green;
  }

#logo {
    float: left;
    background-color: white;
    margin-top: 0;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    z-index: 1;
}
.texto {  

    margin: auto;
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    text-align: justify;

}
.boxpagename  {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    margin: 100px;
    margin-top: -30px;
    width: auto;
    z-index: -1;
}//*
